.about {
    background: $blue;
}

.about__title {
    padding-top: 100px;
    text-align: center;
    
    
    h2 {
        position: relative;
        color: $white;
        font-size: 38px;
        line-height: 45px;
        text-transform: uppercase;
        
        
        img {
            position: absolute;
            bottom: 50%;
            transform: translateY(50%) translateX(-50%);
            left: 50%;
        }
    }

}

.about__features{
    margin-top: 140px;
    padding-bottom: 130px;

    .feature{
        padding: 0 22px;
        color: $white;

        i{
            font-size: 36px;
            padding: 66px;
            border-radius: 50%;
            background: $lightBlue;
        }
        
        h3{
            margin: 25px 0 35px 0;
            font-size: 18px;
            line-height: 36px;
        }

        p{
            font-size: 15px;
            text-align: center;
            line-height: 24px;
        }
    }
}