$white: #ffffff;
$blue: #11749e;
$darkGray: #222222;
$lightBlue: #2e85aa;
$lightGray: #f3f3f3;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$mini: 320px;

@mixin media($size: $xl) {
    @media (max-width: $size) {
        @content;
    }
}


.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.d-flex {
    display: flex;

}

.d-block{
    display: block;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-colomn {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.text-center {
    text-align: center;
}